body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 90px;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(236, 236, 236);
}

h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}


.main-banner {
    padding: 200px;
    text-align: center;
    background-image: url(images/main-bg-picture.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.title-text-color {
    color: tomato;
}

section p {
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.button {
    font-weight: 600;
    padding: 15px 40px;

    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: tomato;
    border-radius: 10px
}

.donation-amount p {
    color: rgb(158, 158, 158);
    text-align: center;
}

.amount {
    display: flex;
    font-size: 35px;
    color: gray;
    padding-left: 18%;
}

.amount h3 {
    background-color: rgb(236, 236, 236);
    padding: 50px;
    margin: 15px;
    border-radius: 10px;
}

#selected-amount {
    color: tomato;
    background-color: rgb(252, 198, 189);
    border: 2px solid tomato;
}

.other-amount-option {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.pay-donation {
    text-align: center;
}

.Donate-Plan-sub-title {
    text-align: center;
    color: rgb(158, 158, 158);
}

.planing {
    display: flex;
}

.planing p {
    color: black;
}

.planing div {
    padding: 30px;
    margin: 40px;
    background-color: beige;
    border-radius: 15px;
}

#food-section {
    background-color: rgb(215, 255, 230);
    margin-left: 350px;
}

#shelter-section {
    background-color: rgb(255, 248, 225);
}

#education-section {
    background-color: rgb(219, 239, 255);
    margin-right: 350px;
}